@model Investify.Models.IdeiaModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>IdeiaModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ide_nome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ide_nome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ide_descricao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ide_descricao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ide_empresario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ide_empresario)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ide_nivelRisco)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ide_nivelRisco)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ide_tipo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ide_tipo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ide_cnpj)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ide_cnpj)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ide_fase)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ide_fase)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ide_date)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ide_date)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ide_status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ide_status)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ide_valorInicial)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ide_valorInicial)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ide_valorAtual)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ide_valorAtual)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ide_participacaoDisponivel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ide_participacaoDisponivel)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Ide_id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
